/* Bootstrap CSS needed extracted */

.border
{border:1px solid #dee2e6!important}
.border-op{border-top:1px solid #dee2e6!important}
.border-right{border-right:1px solid #dee2e6!important}
.border-bottom{border-bottom:1px solid #dee2e6!important}
.border-left{border-left:1px solid #dee2e6!important}
.border-0{border:0!important}.border-top-0{border-top:0!important}
.border-right-0{border-right:0!important}.border-bottom-0{border-bottom:0!important}
.border-left-0{border-left:0!important}.border-primary{border-color:#007bff!important}
.border-secondary{border-color:#6c757d!important}.border-success{border-color:#28a745!important}
.border-info{border-color:#17a2b8!important}.border-warning{border-color:#ffc107!important}
.border-danger{border-color:#dc3545!important}.border-light{border-color:#f8f9fa!important}
.border-dark{border-color:#343a40!important}.border-white{border-color:#fff!important}

.shadow-sm{box-shadow:0 .125rem .25rem rgba(0,0,0,.075)!important}
.shadow{box-shadow:0 .5rem 1rem rgba(0,0,0,.15)!important}
.shadow-lg{box-shadow:0 1rem 3rem rgba(0,0,0,.175)!important}
.shadow-none{box-shadow:none!important}

.p-5{padding:3rem!important}

.mx-auto{margin-right:auto!important}
.mb-auto,.my-auto{margin-bottom:auto!important}
.ml-auto,.mx-auto{margin-left:auto!important}

.text-center{text-align:center!important}


/* Custom css */
.base-container
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .bg-login
    {
        background-color: #808080!important;
    }

 .header
    {
        font-size: 24px;
        font-family: "Open Sans", sans-serif;
    } 

 .content
    {
        display: flex;
        flex-direction: column;
    } 

.image
    {
        width: 8em;
        /* 20em */
    }
/* img
    {
        width: 10%;
    } */

.form
    {
        margin-top: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

.form-group
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: fit-content;
    }
label
    {
        font-size:20px;
    }

input, select
    {
        margin-top: 6px;
        min-width: 18em;
        height: 37px;
        padding: 0px 10px;
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
        background-color: #f3f3f3;
        border: 0;
        border-radius: 4px;
        margin-bottom: 31px;
        transition: all 250ms ease-in-out;
    }
&:focus
    {
        outline: none;
        box-shadow: 0px 0px 12px 0.8px #0e81ce96;
    }

.footer
{
    margin-top: 3em;
}